<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title>Resume</title>
    </head>
    <body>
        <div class='container'>
            <h1>Your Lovely Resume</h1>
            {% if resume is not empty %}
                <!--{% set count = 0 %}-->

                    {% for job in resume %}
                        <div class='row'>
                            <div class='col-md-4'><strong>Company:</strong> {{ job.getCompany }}</div>
                            <div class='col-md-3'>Start Date: {{ job.getStartDate }}</div>
                            <div class='col-md-3'>End Date: {{ job.getEndDate }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>Address: {{ job.getAddress }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>Title: {{ job.getTitle }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>Salary: {{ job.getSalary }}</div>
                        </div>
                        <div class='row'>

                                <p>Current count is: <!--{{ count }}--></p>

                                <form action='/delete_job' method='get'>
                                <div class='form-group'>
                                    <input id='index_to_remove' name='index_to_remove' type='number' value='{{ loop.index - 1}}'>
                                        <button type='submit'>{{ loop.index - 1 }}</button>

                                </div>
                            </form>
                                <hr>

                        </div>
                        <!--% count = count + 1 %}-->
                    {% endfor %}

            {% else %}
                <p> No jobs entered </p>
            {% endif %}

            <p><a href="/create_job">Add a job</a></p>
            <p><a href="/clear_resume">Clear all jobs</a></p>

    </div>
    </body>
</html>
