<html>
    <head>
        <title>Resume</title>
    </head>
    <body>
        <h1>Your Lovely Resume</h1>
        {% if resume is not empty %}
            <ul>
                {% for job in resume %}
                    <li>Company: {{ job.getCompany }}</li>
                    <li>Title: {{ job.getTitle }}</li>
                    <li>Start Date:{{ job.getStartDate }}</li>
                    <li>End Date: {{ job.getEndDate }}</li>
                    <li>Address: {{ job.getAddress }}</li>
                    <li>Salary: {{ job.getSalary }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No jobs entered </p>
        {% endif %}

        <p><a href="/create_job">Add a job</a></p>

    </body>
</html>
