<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title>Resume</title>
    </head>
    <body>
        <div class='container'>
            <h1>Your Lovely Resume</h1>
            {% if resume is not empty %}


                    {% for job in resume %}
                        <div class='row'>
                            <div class='col-md-3'><strong>Company:</strong> {{ job.getCompany }}</div>
                            <div class='col-md-3'>Start Date: {{ job.getStartDate }}</div>
                            <div class='col-md-3'>End Date: {{ job.getEndDate }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>Address: {{ job.getAddress }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>Title: {{ job.getTitle }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>Salary: {{ job.getSalary }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-md-9'>
                                <p></p>
                                <hr>
                            </div>
                        </div>
                    {% endfor %}

            {% else %}
                <p> No jobs entered </p>
            {% endif %}

            <p><a href="/create_job">Add a job</a></p>
    </div>
    </body>
</html>
